#terraform
terraform/**/.terraform/
terraform/**/*tfstate*
terraform/**/plan.out
terraform/**/*lock*

#packer
packer-broken/**/99-pve.cfg
packer-broken/iso
packer-broken/**/crash.log
packer-broken/**/packer_cache
packer-broken/**/*.box
packer-broken/**/*.auto.pkvars.hcl

#bootstrap
Bootstrap/TechnoTim/k3s-ansible/.env/
Bootstrap/TechnoTim/k3s-ansible/*.log
Bootstrap/TechnoTim/k3s-ansible/ansible.cfg