#terraform
terraform/**/.terraform/
terraform/**/*tfstate*
terraform/**/plan.out
terraform/**/*lock*
terraform/**/vars.tf

#packer
packer/**/99-pve.cfg
packer/iso/
packer/**/crash.log
packer/**/packer_cache
packer/**/*.box
packer/**/*.auto.pkvars.hcl

#bootstrap
Bootstrap/TechnoTim/k3s-ansible/.env/
Bootstrap/TechnoTim/k3s-ansible/*.log
Bootstrap/TechnoTim/k3s-ansible/ansible.cfg